body, h1, h2, h3, ul {margin: 0;padding: 0;}
ul {list-style: none;}
a {text-decoration: none;}
* {box-sizing: border-box;}
img {width: 100%;}
body {font-family: 'Lato', sans-serif;}

header{
    background-color: rgb(0, 0, 0);
}
.w-85 {width: 85%}
.header-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

nav {
    display: flex;
}

ul {
    display: flex;
    align-self: center;
}

ul li a {
    font-size: 1.2rem;
    padding: 0 30px;
    color: #fff;
}

.s1-container {
    background-color: rgba(0, 0, 0, 0.644);
    background-image: url("img/img_top.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fundo-preto{background-color: rgba(0, 0, 0, 0.425);}

.s1-content {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s1-container h1 {
    font-size: 4.8rem;
}
.s1-container p {
    font-size: 1.6rem;
    line-height: 3rem;
}

.s1-content div:nth-child(1){
    margin-right: 30px;
}
.s1-content div:nth-child(2){
}

.s2-container {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.s2-container > div {
}

.s2-container h3 {
    padding: 20px 0;
    font-size: 1.4rem;
}
.s2-container p {
    line-height: 1.4rem;
}

.s2-container > div:nth-child(2) {
    margin: 0 30px;
}


.s2-container > div {
    width: 33%;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.644);
    background-image: url("img/imagem_fundo.png");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.s3-container p {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 0 0 0 20px;
}
.s3-container {
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.s3-container div:nth-child(1) {
    width: 60%;
}
.s3-container div:nth-child(2) {
    width: 50%;
}

footer {
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
    padding: 50px 0;
}
footer section {
    margin: 0 auto;
    display: flex;
}
footer section div {
    margin: 0 50px;
}

.posFooter {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 6px 0;
    text-align: center;
}

/*-------0000---------*/


@media screen and (max-width: 987px) {
    nav {
        display: none;
    }
    .s3-container {
        flex-direction: column;
    }
    .s3-container p {margin-top: 20px;}
    .s3-container div:nth-child(1) {
        width: 80%;
        margin: 0 auto;
    }
    .s3-container div:nth-child(2) {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .s1-content {
        display: block;
    }
    .s1-content div:nth-child(2){
        padding-left: 0;
    }
    .w-85 {
        width: 95%;
        padding: 10px;
    }    
    .header-content {
        padding: 20px 50px;
    }
    .s2-container {        
        display: block;        
    }
    .s2-container > div {        
        width: 100%;        
    }
    .s2-container > div:nth-child(2) {
        margin: 0 0;
    }
    .s3-container {margin: 50px auto;display: flex;
        justify-content: center;
     }
     .s3-container div:nth-child(1) {
         width: 100%;
     }
     .s3-container div:nth-child(2) {
         width: 100%;
     }
     .s3-container p {padding: 0;}    

}